[user]
	name = WoutDeleu
	email = WoutDeleu@users.noreply.github.com
	signingkey = /home/woutd/.ssh/github-signing.pub
[merge]
	tool = nvimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
